:root{
    --backg:#f4ede5;
    --txt: #9a998c;
    --btn: #007200;
    --btn-txt: #fff;
}
body{
    background-color: var(--backg);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
header .menu {
    display: flex;
    
}
header .menu .mn{
    margin-inline: 10px;
    position: relative;
}

header .menu .mn .nav .square{
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    top: -3px;
    left: 90px;
    transform: rotate(130deg);
}
header .menu .mn .nav{
    position: absolute;
    left: -60px;
    top: 45px;
    width: 420px;
    background-color: #fff;
    padding: 20px 50px 40px 50px;
    border-radius: 10px;
    animation-name: menudown;
  animation-duration: 2s;
}
header .menu .mn .nav.clknav{
    display: none;   
}
@keyframes menudown{
    from{top: 30px;opacity: 0;}
    to{top: 45px; opacity: 1;}
}
header .menu .mn .nav .item{
    display: flex;
    align-items: self-start;
    margin-top: 20px;
}
header .menu .mn .nav .item p{
    margin: 2px;
    font-size: 17px;
    font-weight: 700;
}
header .menu .mn .nav .item .descr{
    color: var(--txt);
    margin-top: 2px;
    line-height: 1.3;
}
header .menu .mn>p{
    color: var(--txt);
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
}
header .btns {
    display: flex;
}
header .btns div{
    margin: 10px;
}
header .btns .login a{
    text-decoration: none;
    color: var(--txt);
}
header .btns .try a{
    background-color: var(--btn);
    color: var(--btn-txt);
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
}

/* center-main ======= */
.center-main{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.center-main div{
    padding: 20px;
}
.center-main .img img{
    margin-right: 160px;
}
.center-main .txt h1{
    font-size: 60px;
    margin-bottom: 15px;
}
.center-main .txt p{
    margin: 0;
    color: var(--txt);
}
.center-main .txt{
    
    margin-left: 160px;
}
.center-main .txt h1 .yell{
    color: gold;
}
.center-main .img img{
    width: 350px;
    display: inline;
}
.center-main .txt .btn{
    display: inline-block;
    margin: 20px 0;
    color: var(--btn-txt);
    background-color: var(--btn);
    padding: 20px 40px;
    border-radius: 5px;
    
}
.center-main .txt a{
    text-decoration: none;
    /* font-size: 30px; */
}
/* last section */
.sponsors .txt{
    color: var(--txt);
    text-align: center;
    margin: 0 auto;
}
.sponsors .sprs{
    padding: 10px;
    text-align: center;
}
.sponsors .sprs img{
    margin-inline: 30px;
}